<div id="form-parent">
    <div class="form-child">
    <form action="/updatePassword" method="post" id="login-form">
    <h1>Social Network</h1>
    <input type="email" name="email" id="email" placeholder="Enter your email">
    <button id="button" type="submit">Update password</button>
    </form>

    <div>
        <a href="/">Need to login?</a>
    </div>

    </div>
</div>