<div id="form-parent">
    <div class="form-child">
    <form action="/signup" method="post" id="login-form">
    <h1>Social Network</h1>
    <h3 style="color: red;">{{errorMessage}}</h3>
    <input type="text" name="username" id="username" placeholder="Enter your username" required>
    <input type="email" name="email" id="email" placeholder="Enter your email" required>
    <input type="password" name="password" id="password" placeholder="Enter your password" required>
    <button id="button" type="submit">Signup</button>
    </form>

    <div>
        <a href="/">Need to Login?</a>
    </div>

    </div>
</div>