<div class="container-fluid">
<input type="hidden" id="currentUserUID" value="{{currentUserId}}">
<input type="hidden" id="postId" value="{{post._id}}">

    <div id="comments">
       
    </div>

     <form id="comment-form">
        <input type="text" name="comment" id="comment" 
        placeholder="Leave a comment .." required>
        <button id="comment-btn" type="submit">Share</button>
    </form>

</div>