<div class="container">
    <h1>Posts</h1>
    <input type="hidden" id="currentUserId" value="{{currentUser._id}}">
    <form id="post-form">
   <div style="flex-direction: row;display:flex;justify-content:space-around">
     <input id="post-input" style="margin: 5px;" type="text" class="form-control" placeholder="What's on your mind ?">
    <button style="margin: 5px;" class="btn btn-outline-warning" type="submit">Share</button>
   </div>
  </form>

  <div id="posts">
    
  </div>
</div>